@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: FilsonSoft;
  src: url('/fonts/FilsonSoft-Regular.otf');
}
@font-face {
  font-family: FilsonSoftBold;
  src: url('/fonts/FilsonSoft-Bold.otf');
}
@font-face {
  font-family: RocGroteskMedium;
  src: url('/fonts/RocGrotesk-Medium.otf');
}
@font-face {
  font-family: RocGroteskBold;
  src: url('/fonts/RocGrotesk-Bold.otf');
}

html {
  scroll-behavior: smooth;
}

.markdown a {
  color: rgb(29, 78, 216);
  cursor: pointer;
}

.markdown ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 20px;
}

.markdown ul li {
  margin-top: 6px;
}
.markdown p {
  margin-top: 20px;
}

.text-h1 {
  font-family: RocGroteskMedium, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 120%;
}
.text-h2 {
  font-size: 36px;
  line-height: 125%;
  font-family: RocGroteskMedium, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-h3 {
  font-size: 30px;
  line-height: 130%;
  font-family: FilsonSoftBold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-h4 {
  font-size: 28px;
  line-height: 140%;
  font-family: FilsonSoftBold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-h5 {
  font-size: 20px;
  line-height: 150%;
  font-family: FilsonSoftBold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-body1 {
  font-size: 16px;
  line-height: 150%;
  font-family: FilsonSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-body2 {
  font-size: 14px;
  line-height: 150%;
  font-family: FilsonSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-body3 {
  font-size: 12px;
  line-height: 150%;
  font-family: FilsonSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-body4 {
  font-size: 11px;
  line-height: 150%;
  font-family: FilsonSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.text-body-lg {
  font-size: 23px;
  line-height: 150%;
  font-family: FilsonSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
}